@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: rgb(136, 71, 150);
}


/* home component  */

.detail_card {
  height: 20rem;
  width: 35rem;
  margin-left: 2rem;
  margin-top: 7rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  background-color: rgb(129, 66, 142);
  border-radius: 10px;
}
.card_img {
  border: 2px solid rgb(88, 18, 86);
  border-radius: 3px;
  padding: 1rem;
  margin: 2rem;
}
.card {
  display: flex;
  align-items: center;
}
.person_Detail {
  margin-left: 4rem;
}
.first_name {
  margin-right: 1rem;
  font-weight: bold;
}
.last_name {
  font-weight: bold;
}
